@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: hsl(243, 87%, 12%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 286px;
  height: 175px;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.15);
  margin: auto;
}
.card__text {
  color: hsl(238, 22%, 44%);
  font-size: 0.67em;
  margin-bottom: 24px;
  font-weight: 400;
}
.card .avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .avatar-container__avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.card .avatar-container__name {
  font-weight: 700;
  font-size: 0.67em;
}
.card .avatar-container__job {
  font-size: 0.6em;
  font-weight: 400;
}

.main-container {
  width: 375px;
  margin: auto;
}
@media (min-width: 1300px) {
  .main-container {
    width: 1300px;
    height: unset;
    font-size: unset;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
  margin-bottom: 100px;
}
.navbar__logo {
  width: 80px;
  height: 25px;
}
@media (min-width: 1300px) {
  .navbar__logo {
    width: 170px;
    height: unset;
    font-size: unset;
  }
}
.navbar__list {
  display: flex;
  list-style: none;
  gap: 24px;
  font-size: 0.8em;
}
@media (min-width: 1300px) {
  .navbar__list {
    width: 274px;
    height: unset;
    font-size: 1em;
  }
}
.navbar__list a {
  text-decoration: none;
  font-weight: 700;
  color: hsl(238, 22%, 44%);
}
.navbar__list a:hover {
  color: hsl(224, 93%, 58%);
}

.header {
  padding: 0 24px 182px;
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.header__illustration {
  width: 100%;
  margin-bottom: 40px;
}
@media (min-width: 1300px) {
  .header__illustration {
    width: 50%;
  }
}
.header .header-content__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 24px;
}
.header .header-content__text {
  color: hsl(238, 22%, 44%);
  font-size: 0.95em;
  text-align: center;
  margin-bottom: 24px;
}
.header .header-content__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.header .header-content__form input {
  height: 40px;
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 4px;
  padding: 0 16px;
  font-family: "Open Sans", sans-serif;
}
.header .header-content__form input[type=email] {
  font-weight: 400;
  font-size: 0.9em;
  border: 1px solid hsl(238, 22%, 44%);
}
.header .header-content__form input[type=email]::placeholder {
  color: hsl(0, 0%, 75%);
}
.header .header-content__form input[type=submit] {
  background-color: hsl(224, 93%, 58%);
  border: none;
  color: hsl(240, 75%, 98%);
  font-weight: 400;
  font-size: 0.9em;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11);
}
.header .header-content__form input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(120%);
}

@media (min-width: 1300px) {
  .header {
    background-image: url("../images/bg-curve-desktop.svg");
  }
}
@media (min-width: 1300px) and (min-width: 1300px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 38px;
  }
}
@media (min-width: 1300px) {
  .header .header-content {
    width: 590px;
  }
  .header .header-content__title {
    font-size: 2.5em;
    text-align: left;
  }
  .header .header-content__text {
    text-align: left;
    font-size: 1.1em;
  }
  .header .header-content__form {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    width: 540px;
  }
  .header .header-content__form input {
    flex-grow: 1;
  }
}
.details {
  padding: 0 24px 100px;
  background-color: hsl(240, 75%, 98%);
}
@media (min-width: 1300px) {
  .details {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 65px;
  }
}
.details__illustration {
  width: 100%;
  margin-bottom: 40px;
}
@media (min-width: 1300px) {
  .details__illustration {
    width: 50%;
  }
}
.details .details-content__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 24px;
  text-align: center;
}
.details .details-content__text {
  color: hsl(238, 22%, 44%);
  font-size: 0.86em;
  margin-bottom: 24px;
}
.details .details-content__link {
  display: block;
  color: hsl(170, 45%, 43%);
  text-align: center;
  margin-bottom: 24px;
}

@media (min-width: 1300px) {
  .details {
    height: 677px;
  }
  .details__illustration {
    width: 50%;
  }
  .details .details-content__title {
    text-align: left;
    font-size: 2.1em;
  }
  .details .details-content__text {
    width: 520px;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .details .details-content__link {
    text-align: left;
    margin-bottom: 40px;
  }
  .details .details-content .card {
    margin: 0;
  }
}
.early-access {
  background-color: hsl(238, 22%, 44%);
  padding: 40px;
  text-align: center;
}
@media (min-width: 1300px) {
  .early-access {
    display: flex;
    align-items: center;
    gap: 244px;
  }
}
.early-access__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
  color: hsl(240, 75%, 98%);
  margin-bottom: 24px;
}
.early-access__text {
  color: hsl(0, 0%, 75%);
  font-size: 0.9em;
  margin-bottom: 24px;
}
.early-access__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  width: 250px;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 30px;
}
.early-access__form input {
  height: 40px;
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 4px;
  padding: 0 16px;
  font-family: "Open Sans", sans-serif;
}
.early-access__form input[type=email] {
  font-weight: 400;
  font-size: 0.9em;
  border: 1px solid hsl(238, 22%, 44%);
}
.early-access__form input[type=email]::placeholder {
  color: hsl(0, 0%, 75%);
}
.early-access__form input[type=submit] {
  background-color: hsl(224, 93%, 58%);
  border: none;
  color: hsl(240, 75%, 98%);
  font-weight: 400;
  font-size: 0.9em;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11);
}
.early-access__form input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(120%);
}

@media (min-width: 1300px) {
  .early-access__title {
    font-size: 2em;
    text-align: left;
  }
  .early-access__text {
    text-align: left;
    width: 450px;
  }
  .early-access__form {
    width: 450px;
  }
  .early-access__form input[type=submit] {
    width: 50%;
  }
}
.footer {
  background-color: hsl(243, 87%, 12%);
  padding: 40px 24px;
}
.footer__logo {
  width: 120px;
  margin-bottom: 24px;
}
.footer__contact {
  width: 250px;
  margin-bottom: 10px;
}
.footer__contact img {
  width: 14px;
}
.footer__contact a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.9em;
}
.footer__contact a:hover {
  color: hsl(224, 93%, 58%);
}
.footer__list {
  padding-bottom: 24px;
}
.footer__list li {
  margin-bottom: 5px;
}
.footer__list li a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
  font-size: 0.9em;
}
.footer__list li a:hover {
  color: hsl(224, 93%, 58%);
}
.footer__social {
  color: hsl(0, 0%, 75%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__social-icons {
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}
.footer__social-icons:hover {
  border: 1px solid hsl(224, 93%, 58%);
  color: hsl(224, 93%, 58%);
  cursor: pointer;
}

@media (min-width: 1300px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 125px;
    align-items: baseline;
  }
}

/*# sourceMappingURL=style.css.map */
